html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body

        h1 Bienvenu sur Eronn Pass #{firstname} #{lastname}

        p Pour confirmer votre email veuillez cliquer 
            a(href="#") ici